<%= form_for @vet_doctor, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :zip, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :zip, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :school, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :school, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :yrs_in_practice, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :yrs_in_practice, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                vet_doctors_path, :class => 'btn' %>
  </div>
<% end %>
